@charset "utf-8";
/*------------------
fonts
--------------------*/
@import "font/flaticon.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "https://dlazc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?rd5re6";

$roboto: 'Roboto Condensed', sans-serif;
/*------------------
colors
--------------------*/
$blue: (
    head: #7d92a2,
    main: #4679b7,
    hover: #3399ff,
    dark: #465d6f
);

$orange: (
    main: #f5951d,
    dark: #f25912,
    red: #e03c10
);

$gray: (
  head: #fbfcfc,
  line: #ccc9c9,
  light: #8b8583,
  dark: #433f32
);

$green: #60b681;
$footer_color: #f7f6f0;
$brown: #594037;

$yellow: #fdb727;
/*-----------------------------

-----------------------------*/
$medium_size: 768px;

%ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin media($size) {
  @media (max-width: $size){
    @content;
  }
  
}
/*-----------------------------
m p w h
-----------------------------*/
$classes: (
  mt: margin-top,
  mr: margin-bottom,
  ml: margin-left,
  pt: padding-top,
  pb: padding-bottom,
  pr: padding-right,
  pl: padding-left,
  w: width,
  h: height, 
);

$i: 0; $s: 5; $max: 300;
@while $i <= $max {

  @each $key, $val in $classes{
    .#{$key}#{$i}{
      #{$val}: $i + px;
    }
  }


  $i: $i + $s;

} 